/* Google fonts using EB Garamond and Poppins */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700;800&family=Poppins:wght@400;700;800&display=swap');

.eg_garamond {
    font-family: 'EB Garamond', serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.h_color {
    color: #414040;
}

.p_color {
    color: #707070;
}

.btn_bg {
    background: #b68c5a;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button, a, .paper_plane, .legal_box {
    transition: all 0.5s;
}

.legal_box:hover {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%);
}